<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="useDatabase" value ="true"/>
    <add key ="DatabaseName" value ="Post.mdf"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=localhost;Initial Catalog=SQLEXPRESS;Integrated Security=true"  />

    <add name="connectionString1"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=SPECIALIST\SQLEXPRESS;AttachDbFilename=C:\VisualStudioSolution\DAL\Database\PostDB.mdf;Integrated Security=True"
         />
  </connectionStrings>
</configuration>